@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --primary-color: #FFDB57;
  --sondary-color: #212529;
  --third-color: #F9F9FA;
  --general-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: var(--general-color);
  padding: 0;
  margin: 0;
  font-family: 'lato';
}

.navbar {
  font-family: 'lato';
  background: var(--general-color);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  max-width: 5em;
}

.navbar .mobile-menu {
  max-width: 1.4em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: left;
  height: 60vh;
}

.hero .hero-brand {
  font-family: 'lato';
  font-weight: 400;
}

.hero .heading-primary-main {
  font-weight: 600;
  font-size: 1.5em;
}

.hero .hero-para {
  font-weight: 300;
  font-size: 0.8em;
}

.hero .hero-cta {
  margin-top: 3em;
  background: var(--sondary-color);
  padding: .6em 1.8em;
  border-radius: 5em;
  font-size: 1.3em;
  float: left;
}

section .pt-200 {
  height: 100vh;
}

section .pt-200 .template-brand {
  text-transform: uppercase;
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
}

.heading-secondary-para {
  font-weight: 800;
}

.main-content {
  height: 100vh;
  width: 80vw;
}

.main-content .portfolio {
  -webkit-column-count: 2;
          column-count: 2;
}

.main-content .portfolio .portfolio-card {
  width: 100px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card .portfolio-item-one {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  z-index: 8;
}

.main-content .portfolio .portfolio-card .portfolio-item-one:hover {
  height: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.main-content .portfolio .portfolio-card-two {
  width: 100px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card-two .portfolio-item-two {
  width: 150%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 180% 20%;
     object-position: 180% 20%;
  z-index: 7;
}

.main-content .portfolio .portfolio-card-two .portfolio-item-two:hover {
  height: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-content .portfolio .portfolio-card-three {
  width: 70px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card-three .portfolio-item-three {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 72% 90%;
     object-position: 72% 90%;
  z-index: 6;
}

.main-content .portfolio .portfolio-card-three .portfolio-item-three:hover {
  height: 100%;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.main-content .portfolio .portfolio-card-four {
  width: 300px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card-four .portfolio-item-four {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
  z-index: 5;
}

.main-content .portfolio .portfolio-card-four .portfolio-item-four:hover {
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-content .portfolio .portfolio-card-five {
  width: 100px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card-five .portfolio-item-five {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 95% 100%;
     object-position: 95% 100%;
  z-index: 4;
}

.main-content .portfolio .portfolio-card-five .portfolio-item-five:hover {
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-content .portfolio .portfolio-card-six {
  width: 90px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card-six .portfolio-item-six {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 100%;
     object-position: 10% 100%;
  z-index: 3;
}

.main-content .portfolio .portfolio-card-six .portfolio-item-six:hover {
  height: 100%;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.main-content .portfolio .portfolio-card-seven {
  width: 150px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card-seven .portfolio-item-seven {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 10%;
     object-position: 100% 10%;
  z-index: 2;
}

.main-content .portfolio .portfolio-card-seven .portfolio-item-seven:hover {
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-content .portfolio .portfolio-card-eight {
  width: 100px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.main-content .portfolio .portfolio-card-eight .portfolio-item-eight {
  width: 300%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 95% 100%;
     object-position: 95% 100%;
  z-index: 1;
}

.main-content .portfolio .portfolio-card-eight .portfolio-item-eight:hover {
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  background-color: var(--sondary-color);
  padding: 2em;
  padding-top: 5em;
  color: var(--third-color);
}

.footer .footer-head-aboutus {
  font-family: 'lato';
  font-weight: 400;
  padding-bottom: 1em;
}

.footer .footer-para-first {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
}

.footer .footer-para-last {
  font-family: 'lato';
  font-weight: 400;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

.footer .footer-head-contactus {
  font-family: 'lato';
  font-weight: 400;
  padding-bottom: 0.5em;
}

.footer .footer-head-li {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
}

.social-item {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 2em;
}

.fab {
  max-width: 2em;
  max-height: 2em;
  padding-bottom: 4em;
}

.footer-head-tel {
  margin-top: 2em;
}

.footer-head-tel2 {
  margin-bottom: 2em;
}

.formlist {
  height: 90vh;
}

.formlist .formlist-head {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'lato';
  font-weight: 400;
  font-size: 1em;
}

.formlist .formlist-name {
  padding: 0.8em;
  margin-top: 1em;
  width: 91%;
}

.formlist .formlist-email {
  padding: 0.8em;
  margin-top: 1.5em;
  width: 91%;
}

.formlist .send-message {
  padding: 0.8em;
  width: 92%;
  margin-top: 1.5em;
  font-weight: 400;
  font-size: 0.8em;
  font-family: "lato";
}

.formlist .send-message-cta {
  padding: 1em 4em;
  margin-top: 2em;
  float: right;
  background-color: var(--primary-color);
  border-radius: 0.3em;
  text-decoration: none;
  color: var(--sondary-color);
}

.formlist .privacy-policy {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  text-decoration: underline;
  float: left;
  margin-top: 2em;
}

.copyright {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.6em;
  margin-top: 0em;
  display: inline block;
  text-align: center;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0%;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: var(--sondary-color);
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-close {
  float: right;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */