@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --primary-color: #FFDB57;
  --sondary-color: #212529;
  --third-color: #F9F9FA;
  --general-color: #fff;
  --fouth-color: #E9ECEF;
  --fifth-color: #CED4DA;
  --sixth-color: #ADB5BD;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: var(--general-color);
  padding: 0;
  margin: 0;
  font-family: 'lato';
}

.navbar {
  font-family: 'lato';
  background: var(--general-color);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  max-width: 5em;
}

.navbar .mobile-menu {
  max-width: 1.4em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 0em 2em;
}

.hero {
  text-align: left;
}

.hero .container-one {
  padding-top: 10em;
  height: 60vh;
}

.hero .hero-brand {
  font-family: 'lato';
  font-weight: 400;
  -webkit-text-decoration: underline 3.5px var(--primary-color);
          text-decoration: underline 3.5px var(--primary-color);
  text-underline-position: under;
}

.hero .heading-primary-main {
  font-weight: 600;
  font-size: 1.5em;
}

.hero .hero-para {
  font-weight: 300;
  font-size: 1em;
}

.hero .hero-cta {
  margin-top: 3em;
  background: var(--sondary-color);
  padding: .6em 1.8em;
  border-radius: .2em;
  font-size: 1em;
  font-weight: 300;
  float: left;
}

.hero .hero-cta:hover {
  background-color: var(--sondary-color);
  -webkit-box-shadow: 0px 0px 0px 1px var(--primary-color);
          box-shadow: 0px 0px 0px 1px var(--primary-color);
  font-weight: 400;
  -webkit-animation: anim-shadow .3s forwards;
          animation: anim-shadow .3s forwards;
}

@-webkit-keyframes anim-shadow {
  100% {
    -webkit-box-shadow: 0px 0px 1px 2px var(--primary-color);
            box-shadow: 0px 0px 1px 2px var(--primary-color);
  }
}

@keyframes anim-shadow {
  100% {
    -webkit-box-shadow: 0px 0px 1px 2px var(--primary-color);
            box-shadow: 0px 0px 1px 2px var(--primary-color);
  }
}

.hero .hero-cta:active {
  -webkit-box-shadow: 0 5px;
          box-shadow: 0 5px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

section .pt-200 {
  height: 100vh;
}

section .pt-200 .template-brand {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
}

.heading-secondary-para {
  font-weight: 800;
}

.heading-primary-para {
  font-weight: 300;
  font-size: 0.8em;
}

.heading-secondary-para {
  font-size: 0.8em;
}

.main-content {
  height: 100vh;
}

.footer {
  background-color: var(--sondary-color);
  padding: 2em;
  padding-top: 5em;
  color: var(--sixth-color);
}

.footer .footer-head-aboutus {
  font-family: 'lato';
  font-weight: 400;
  padding-bottom: 1em;
}

.footer .footer-para-first {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5em;
}

.footer .footer-para-last {
  font-family: 'lato';
  font-weight: 400;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

.footer .footer-head-contactus {
  font-family: 'lato';
  font-weight: 400;
  padding-bottom: 0.5em;
}

.footer .footer-head-li {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5em;
}

.social-item {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 2em;
}

.fab {
  max-width: 2em;
  max-height: 2em;
  padding-bottom: 2em;
  padding-top: 0.5em;
}

.footer-head-tel {
  margin-top: 2em;
}

.footer-head-tel2 {
  margin-bottom: 2em;
}

.formlist {
  height: 65vh;
}

.formlist .formlist-head {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'lato';
  font-weight: 400;
  font-size: 1em;
}

.formlist .formlist-name {
  padding: 0.8em;
  margin-top: 1em;
  width: 95%;
}

.formlist .formlist-email {
  padding: 0.8em;
  margin-top: 1.5em;
  width: 95%;
}

.formlist .send-message {
  padding: 0.8em;
  width: 95%;
  margin-top: 1.5em;
  font-weight: 400;
  font-size: 0.8em;
  font-family: "lato";
}

.formlist .send-message-cta {
  padding: 1em 4em;
  margin-top: 2em;
  float: right;
  background-color: var(--primary-color);
  border-radius: 0.3em;
  text-decoration: none;
  color: var(--sondary-color);
}

.formlist .send-message-cta:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 0px 0px 1px var(--primary-color);
          box-shadow: 0px 0px 0px 1px var(--primary-color);
  font-weight: 400;
  -webkit-animation: anim-shadow .3s forwards;
          animation: anim-shadow .3s forwards;
}

@keyframes anim-shadow {
  100% {
    -webkit-box-shadow: 0px 0px 150px 3px var(--primary-color);
            box-shadow: 0px 0px 150px 3px var(--primary-color);
  }
}

.formlist .send-message-cta:active {
  -webkit-box-shadow: 0 5px;
          box-shadow: 0 5px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.formlist .privacy-policy {
  font-family: 'lato';
  font-weight: 200;
  font-size: 0.7em;
  text-decoration: underline;
  float: left;
  margin-top: 2em;
  color: var(--sixth-color);
}

.copyright {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.6em;
  display: inline block;
  text-align: center;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0%;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: var(--sondary-color);
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
  -webkit-text-decoration: underline 3.5px var(--primary-color);
          text-decoration: underline 3.5px var(--primary-color);
  text-underline-position: under;
}

.mobile-close {
  float: right;
  cursor: pointer;
}

.section.pt-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.pt-100 .template-brand {
  font-weight: 300;
  font-size: 0.8em;
  -webkit-text-decoration: underline 3.5px var(--primary-color);
          text-decoration: underline 3.5px var(--primary-color);
  text-underline-position: under;
}

.section.pt-100 .heading-primary-main {
  font-size: 1.4em;
}

.container-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.container-three .imgcontainer-one {
  width: 125px;
  padding: 1em;
  z-index: 4;
}

.container-three .imgcontainer-one .img-one {
  max-width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-three .imgcontainer-one .img-one:hover {
  max-width: 300%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-three .imgcontainer-two {
  width: 125px;
  padding: 2em;
  padding-top: 8em;
  z-index: 2;
}

.container-three .imgcontainer-two .img-two {
  max-width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-three .imgcontainer-two .img-two:hover {
  max-width: 300%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-three .imgcontainer-three {
  width: 80px;
  padding: 1em;
  z-index: 3;
  margin-top: -12em;
}

.container-three .imgcontainer-three .img-three {
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 70% 80%;
     object-position: 70% 80%;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-three .imgcontainer-three .img-three:hover {
  max-width: 600%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container-three .imgcontainer-four {
  width: 125px;
  margin-top: 60px;
  margin-left: -50px;
  z-index: 1;
}

.container-three .imgcontainer-four .img-four {
  max-width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-three .imgcontainer-four .img-four:hover {
  max-width: 500%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}

.container-four .imgcontainer-five {
  width: 100px;
  z-index: 4;
}

.container-four .imgcontainer-five .img-five {
  max-width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 80%;
     object-position: 10% 80%;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-four .imgcontainer-five .img-five:hover {
  max-width: 300%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-four .imgcontainer-six {
  height: 50px;
  margin-top: -18em;
  z-index: 2;
}

.container-four .imgcontainer-six .img-six {
  max-width: 300%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 80%;
     object-position: 10% 80%;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-four .imgcontainer-six .img-six:hover {
  max-width: 300%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.container-four .imgcontainer-seven {
  width: 125px;
  padding: 1em;
  z-index: 3;
}

.container-four .imgcontainer-seven .img-seven {
  max-width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 80% 90%;
     object-position: 80% 90%;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-four .imgcontainer-seven .img-seven:hover {
  max-width: 500%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-four .imgcontainer-eight {
  height: 50px;
  padding: 1em;
  margin-top: -14em;
  z-index: 1;
}

.container-four .imgcontainer-eight .img-eight {
  max-width: 200%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
}

.container-four .imgcontainer-eight .img-eight:hover {
  max-width: 500%;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-close {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    margin: -1em;
  }
  .navbar nav {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
  }
  .navbar nav .primary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    margin-top: 1.5em;
    font-weight: 300;
    font-size: 0.8em;
    margin-right: 3em;
  }
  .primary-button {
    color: var(--sondary-color);
    border: 0.8px solid var(--primary-color);
    border-radius: 0.2em;
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    margin-top: 1em;
    margin-right: 5em;
    padding: 0.5em 3em;
    padding-bottom: 0.8em;
  }
  .primary-button:hover {
    background-color: var(--primary-color);
    -webkit-box-shadow: 0px 0px 0px 1px var(--sondary-color);
            box-shadow: 0px 0px 0px 1px var(--sondary-color);
    font-weight: 300;
    -webkit-animation: anim-shadow .3s forwards;
            animation: anim-shadow .3s forwards;
  }
  @-webkit-keyframes anim-shadow {
    100% {
      -webkit-box-shadow: 0px 0px 150px 3px var(--sondary-color);
              box-shadow: 0px 0px 150px 3px var(--sondary-color);
    }
  }
  @keyframes anim-shadow {
    100% {
      -webkit-box-shadow: 0px 0px 150px 3px var(--sondary-color);
              box-shadow: 0px 0px 150px 3px var(--sondary-color);
    }
  }
  .primary-button:active {
    -webkit-box-shadow: 0 5px;
            box-shadow: 0 5px;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  .logo {
    margin-left: 4em;
  }
  .hero {
    padding-top: 1em;
    height: 70vh;
    font-size: 1.1em;
  }
  .section.pt-100 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8em;
    padding-right: 8em;
    font-size: 1.1em;
  }
  .container-ipad {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    gap: 1em;
    padding-right: 8em;
    padding-left: 8em;
  }
  .container-ipad > * {
    width: 100%;
  }
  .formlist {
    padding-right: 8em;
    padding-left: 8em;
  }
  .contactus {
    padding-left: 5em;
  }
  .footer-aboutus .footer-head-aboutus {
    font-size: 0.9em;
    font-weight: 400;
    -webkit-text-decoration: underline 3.5px var(--primary-color);
            text-decoration: underline 3.5px var(--primary-color);
    text-underline-position: under;
  }
  .footer-aboutus .footer-para-first {
    font-size: 0.7em;
    font-weight: 200;
    line-height: 1.5em;
  }
  .footer-aboutus .footer-para-last {
    font-size: 0.8em;
    font-weight: 400;
  }
  .contactus .footer-head-contactus {
    font-size: 0.9em;
    font-weight: 400;
  }
  .contactus .footer-head-li {
    font-size: 0.7em;
    font-weight: 200;
    line-height: 1.5em;
  }
  .contactus .footer-head-tel,
  .contactus .footer-head-tel2 {
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: .3em;
  }
  .contactus .social-item {
    font-size: 0.7em;
    font-weight: 400;
    margin-bottom: 0.7em;
  }
  .contactus .fab {
    margin: .1em;
    font-size: 0.9em;
  }
  .contactus .fab:hover {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}

@media only screen and (min-width: 968px) {
  .footer .container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    gap: 3em;
  }
  .footer .container > * {
    width: 100%;
  }
  .footer .container-ipad {
    padding: 0;
    margin-left: 2em;
  }
  .footer .contactus {
    padding: 0;
    margin-left: 2em;
  }
  .footer .formlist {
    padding: 0;
    height: 60vh;
    margin-right: 7em;
  }
  .footer .formlist-head {
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
  }
  .footer .footer-head-contactus {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
  }
}

@media only screen and (min-width: 968px) {
  .container-one {
    font-size: 1.3em;
    padding-left: 10em;
    padding-right: 10em;
    margin-top: -4em;
  }
  .container-two {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 9em;
  }
  .container-four {
    margin-bottom: 5em;
  }
}
/*# sourceMappingURL=main.css.map */