@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --primary-color: #FFDB57;
  --sondary-color: #212529;
  --third-color: #F9F9FA;
  --general-color: #fff;
  --fouth-color: #E9ECEF;
  --fifth-color: #CED4DA;
  --sixth-color: #ADB5BD;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: var(--general-color);
  padding: 0;
  margin: 0;
  font-family: 'lato';
}

.navbar {
  font-family: 'lato';
  background: var(--general-color);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  max-width: 5em;
}

.navbar .mobile-menu {
  max-width: 1.4em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: left;
  height: 60vh;
}

.hero .hero-brand {
  font-family: 'lato';
  font-weight: 400;
  -webkit-text-decoration: underline 3.5px var(--primary-color);
          text-decoration: underline 3.5px var(--primary-color);
  text-underline-position: under;
}

.hero .heading-primary-main {
  font-weight: 600;
  font-size: 1.5em;
}

.hero .hero-para {
  font-weight: 300;
  font-size: 0.8em;
}

.hero .hero-cta {
  margin-top: 3em;
  background: var(--sondary-color);
  padding: .6em 1.8em;
  border-radius: .2em;
  font-size: 1em;
  font-weight: 300;
  float: left;
}

.hero .hero-cta:hover {
  background-color: var(--sondary-color);
  -webkit-box-shadow: 0px 0px 0px 1px var(--primary-color);
          box-shadow: 0px 0px 0px 1px var(--primary-color);
  font-weight: 400;
  -webkit-animation: anim-shadow .3s forwards;
          animation: anim-shadow .3s forwards;
}

@-webkit-keyframes anim-shadow {
  100% {
    -webkit-box-shadow: 0px 0px 1px 2px var(--primary-color);
            box-shadow: 0px 0px 1px 2px var(--primary-color);
  }
}

@keyframes anim-shadow {
  100% {
    -webkit-box-shadow: 0px 0px 1px 2px var(--primary-color);
            box-shadow: 0px 0px 1px 2px var(--primary-color);
  }
}

section .pt-200 {
  height: 100vh;
}

section .pt-200 .template-brand {
  text-transform: uppercase;
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
}

.heading-secondary-para {
  font-weight: 800;
}

.heading-primary-para {
  font-weight: 300;
  font-size: 0.8em;
}

.heading-secondary-para {
  font-size: 0.8em;
}

.main-content {
  height: 100vh;
}

.footer {
  background-color: var(--sondary-color);
  padding: 2em;
  padding-top: 5em;
  color: var(--sixth-color);
}

.footer .footer-head-aboutus {
  font-family: 'lato';
  font-weight: 400;
  padding-bottom: 1em;
}

.footer .footer-para-first {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
}

.footer .footer-para-last {
  font-family: 'lato';
  font-weight: 400;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

.footer .footer-head-contactus {
  font-family: 'lato';
  font-weight: 400;
  padding-bottom: 0.5em;
}

.footer .footer-head-li {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
}

.social-item {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 2em;
}

.fab {
  max-width: 2em;
  max-height: 2em;
  padding-bottom: 4em;
}

.footer-head-tel {
  margin-top: 2em;
}

.footer-head-tel2 {
  margin-bottom: 2em;
}

.formlist {
  height: 80vh;
}

.formlist .formlist-head {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'lato';
  font-weight: 400;
  font-size: 1em;
}

.formlist .formlist-name {
  padding: 0.8em;
  margin-top: 1em;
  width: 92%;
}

.formlist .formlist-email {
  padding: 0.8em;
  margin-top: 1.5em;
  width: 92%;
}

.formlist .send-message {
  padding: 0.8em;
  width: 92%;
  margin-top: 1.5em;
  font-weight: 400;
  font-size: 0.8em;
  font-family: "lato";
}

.formlist .send-message-cta {
  padding: 1em 4em;
  margin-top: 2em;
  float: right;
  background-color: var(--primary-color);
  border-radius: 0.3em;
  text-decoration: none;
  color: var(--sondary-color);
}

.formlist .privacy-policy {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.8em;
  text-decoration: underline;
  float: left;
  margin-top: 2em;
}

.copyright {
  font-family: 'lato';
  font-weight: 300;
  font-size: 0.6em;
  margin-top: 0em;
  display: inline block;
  text-align: center;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0%;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: var(--sondary-color);
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-close {
  float: right;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-close {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    margin: -1em;
  }
  .navbar nav {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    font-size: 0.7em;
    font-weight: 300;
    padding-top: 1.6em;
    padding-right: 7em;
  }
  .navbar nav li.primary-button a {
    color: var(--sondary-color);
    border: 0.8px solid var(--primary-color);
    border-radius: 0.2em;
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    margin-top: 1em;
    margin-right: 5em;
    padding: 0.5em 3em;
    padding-bottom: 0.8em;
  }
  .navbar nav li.primary-button a:hover {
    background-color: var(--primary-color);
    -webkit-box-shadow: 0px 0px 0px 1px var(--sondary-color);
            box-shadow: 0px 0px 0px 1px var(--sondary-color);
    font-weight: 300;
    -webkit-animation: anim-shadow .3s forwards;
            animation: anim-shadow .3s forwards;
  }
  @-webkit-keyframes anim-shadow {
    100% {
      -webkit-box-shadow: 0px 0px 150px 3px var(--sondary-color);
              box-shadow: 0px 0px 150px 3px var(--sondary-color);
    }
  }
  @keyframes anim-shadow {
    100% {
      -webkit-box-shadow: 0px 0px 150px 3px var(--sondary-color);
              box-shadow: 0px 0px 150px 3px var(--sondary-color);
    }
  }
  .logo {
    padding-left: 3em;
  }
  .container-one {
    padding-left: 5em;
    padding-top: 4em;
  }
  .container-two {
    height: 80vh;
    text-align: center;
    padding: 0em 7em;
  }
  .container-two .template-brand {
    padding-right: 34em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    -webkit-text-decoration: underline 3.5px var(--primary-color);
            text-decoration: underline 3.5px var(--primary-color);
    text-underline-position: under;
  }
  .container-two .heading-primary-main {
    font-size: 1.5em;
  }
  .hero-brand {
    font-size: 0.8em;
  }
  .container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    gap: 1em;
  }
  .container > * {
    width: 100%;
  }
  .fab {
    float: left;
  }
  .footer-aboutus {
    padding: 2em;
  }
  .footer-aboutus .footer-head-aboutus {
    font-size: 0.9em;
    font-weight: 400;
    -webkit-text-decoration: underline 3.5px var(--primary-color);
            text-decoration: underline 3.5px var(--primary-color);
    text-underline-position: under;
  }
  .footer-aboutus .footer-para-first {
    font-size: 0.7em;
    font-weight: 200;
    line-height: 1.5em;
  }
  .footer-aboutus .footer-para-last {
    font-size: 0.8em;
    font-weight: 400;
  }
  .contactus {
    padding: 2em;
  }
  .contactus .footer-head-contactus {
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 1em;
  }
  .contactus .footer-head-li {
    font-size: 0.7em;
    font-weight: 200;
    line-height: 1.5em;
  }
  .contactus .footer-head-tel,
  .contactus .footer-head-tel2 {
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: .3em;
  }
  .contactus .social-item {
    font-size: 0.7em;
    font-weight: 400;
    margin-bottom: 0.7em;
  }
  .contactus .fab {
    margin: .2em;
    font-size: 0.9em;
  }
  .contactus .fab:hover {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .formlist {
    padding-right: 2em;
  }
  .formlist .formlist-head {
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: .3em;
  }
  .formlist .formlist-name {
    font-size: 0.7em;
    font-weight: 300;
  }
  .formlist .formlist-email {
    font-size: 0.7em;
    font-weight: 300;
  }
  .formlist .send-message {
    font-size: 0.8em;
    font-weight: 300;
    height: 6em;
  }
  .formlist .privacy-policy {
    font-size: 0.5em;
    font-weight: 200;
  }
  .formlist .send-message-cta {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 0.6em;
    margin-right: -0.9em;
    padding: 0.7em 3em;
  }
}

@media only screen and (min-width: 968px) {
  .send-message-cta {
    margin-right: -0.3em !important;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    padding-left: 7em;
  }
  .navbar {
    font-size: 1.2em;
  }
  .container-one {
    padding-left: 12em;
    padding-right: 12em;
    padding-top: 4em;
    font-size: 1.2em;
  }
  .container-two {
    font-size: 1.2em;
  }
  .footer {
    font-size: 1.2em;
  }
  .send-message-cta {
    margin-right: -0.1em !important;
  }
}
/*# sourceMappingURL=main.css.map */